<template>
	<div>
	   <h2>Customers</h2>
	   <div v-for="customer in customers" v-bind:key="customer.id">
	   		<p>{{customer.fullname}}</p>
	   		<p>{{customer.email}}</p>
	   		<p>{{customer.address}}</p>
	   </div>
   </div>
</template>
<script>
	export default {
		data(){
			return{
				customers: [],
					customer:{
						id: '',
						fullname: '',
						email: '',
						address: ''
					},
					customer_id: '',
					pagination:{},

			}
		},
		created() {
			this.fetchCustomers();
		},
		methods:{
			fetchCustomers(page_url) {
				let vm = this;
				page_url = page_url || 'paginate/api'
				fetch(page_url)
				.then(res => res.json())
				.then(res => {
			
					vm.makePagination(res.data, res.links);
				}).catch(err=> console.log(err));
			},
			makePagination(data, links){
				let pagination = {
					current_page: data.current_page,
					last_page: data.last_page,
					next_page_url: links.next,
					prev_page_url: links.prev
				}

				this.pagination = pagination;
			}
		}
	};
</script>
