<template>
    <div class="container-fluid">
        <div v-for="appointments in groupedAppointments" class="row">
            <div v-for="appointment in appointments" class="col-md-6" >
                <div class="hpanel">
                    <div class="v-timeline vertical-container animate-panel"  data-child="vertical-timeline-block" data-delay="1">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <span class="vertical-date pull-right">
                                    <small style="font-size: 100% !important; font-weight: bold;">Cleaning</small>
                                        <br>From: {{ appointment.schedule_start | moment("h:mm:ss a") }}
                                        <br>To: {{appointment.schedule_end | moment("h:mm:ss a")}}
                                        <br>Date: {{ appointment.schedule_start | moment("ll") }}
                                    </span>
                                    <h5>Service #: 
                                         <a v-bind:href="url+'admin/accounting/'+appointment.id+'/transaction-details'" 
                                         class="text-primary">
                                             {{appointment.schedule_code}}
                                        </a>
                                           
                                    </h5>
                                    <h5>Customer: 
                                        <a v-bind:href="url+'admin/customers/'+appointment.get_customer.id" class="text-primary">
                                            {{appointment.get_customer.fullname}}
                                        </a>
                                    </h5>
                                    <h5>Maid: 
                                        <a v-bind:href="url+'admin/maids/'+appointment.get_maid.id" class="text-primary">
                                             {{appointment.get_maid.fullname}}
                                        </a>
                                    </h5>
                                    
                                    <h6 style="padding-top:8px;">Services: </h6>
                                    <p>  {{appointment.notes}}</p>
                                </div>
                                <div class="panel-footer">
                                    <div >
                                        <span class="amount vertical-date pull-right">Amount to Pay:
                                            <small style="font-size: 100% !important; font-weight: bold;" class="text-primary">
                                                {{appointment.get_sale_summary.payment_sub}} AED
                                            </small>
                                        </span>
                                    </div>
                                    <div v-if="appointment.completed == '1'">
                                       <h4><span class="label label-success">Done</span></h4>
                                    </div>
                                    <div v-else-if="appointment.completed == '3'" >
                                       <span class="label label-warning">On&nbspqueue</span>
                                    </div>
                                    <div v-else>
                                       <span class="label label-danger">Pending</span>
                                    </div>

                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination :data="appointmentList" @pagination-change-page="getResults">
            <span slot="prev-nav">&lt; Previous</span>
            <span slot="next-nav">Next &gt;</span>
        </pagination>
    </div>
</template>
 
<script>
   let currentUrl = window.location.pathname;
    export default {
        mounted() {
          
        },
        data() {
            return {
                appointmentList: {},
                url: currentUrl
            }

        },
        created() {
            this.getResults();
       
        },
        computed:{
          groupedAppointments() {
            return _.chunk(this.appointmentList.data, 6);
          }
        },

        methods: {
            getResults(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                this.$http.get( currentUrl+'admin/dashapi?page=' + page)
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        this.appointmentList = data;
                });
    
            }

        }
    };
</script>