<template>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
               <select class="form-control" v-model="dropdown"  @change="getResults()">
                    <option v-bind:value="0">All</option>
                    <option v-for="customer in customerList" v-bind:value="customer.id">{{customer.fullname}}</option>
                </select>
            </div>

            <div class="col-md-4">
                <label>Name</label>
                <input v-on:keyup="getResults()" v-model="fullname">
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Customer List</div>
 
                    <div class="card-body">
                        <ul>
                            <li v-for="tag in laravelData.data" :key="tag.id">{{ tag.fullname }}</li>
                        </ul>
                        <pagination :data="laravelData" @pagination-change-page="getResults">
                                <span slot="prev-nav">&lt; Previous</span>
                                <span slot="next-nav">Next &gt;</span>
                        </pagination>
 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
   let currentUrl = window.location.pathname;
    export default {
        mounted() {
            this.getDropdown();
        },
        data() {
            return {
                laravelData: {},
                customerList: {},
                dropdown:'0',
                fullname: ''
            }

        },
        created() {
            this.getResults();
       
        },
        methods: {
            getResults(page) {

                if (typeof page === 'undefined') {
                    page = 1;
                }

                let fparam;  
                this.fullname == '' ? fparam = '0' : fparam = this.fullname;

                this.$http.get( currentUrl+'/dropdown/'+this.dropdown+'/fullname/'+fparam+'/api?page=' + page)
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        this.laravelData = data;
                });
    
            },
            getDropdown(){
                this.$http.get(currentUrl+'/getDropdown')
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        this.customerList = data;
                      
                });
            }
        }
    };
</script>