<template>
  <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">Customer List</div>
                <div class="card-body">
                    <user
                        v-for="customer in customers" 
                        :customer="customer" 
                        :key="customer.id">
                    </user>
                    <pagination 
                        :meta_data="meta_data"
                        v-on:next="fetchUsers">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
let currentUrl = window.location.pathname;
import User from '../partial/User';
import Pagination from '../pagination/Pagination.vue';

export default {

    components: {
        User,
        Pagination
    },

    data() {
        return {
            customerList:[],
            customers: [],
            meta_data: {
                last_page: null,
                current_page: 1,
                prev_page_url: null
            }
        }
    },
    mounted() {
        this.fetchUsers();
    },
    methods: {
        fetchUsers(page = 1) {
            axios.get(currentUrl+'/maids/api', {
                params: {
                    page
                }
            }).then((res) => {
            this.customers = res.data.data;
            this.customerList = res.data.data;
            console.log(this.customers);
            this.meta_data.last_page = res.data.last_page;
            this.meta_data.current_page = res.data.current_page;
            this.meta_data.prev_page_url = res.data.prev_page_url;            
        });
        }
    }
}
</script>