<template>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                {{ customer.fullname }}
            </h4>
        </div>
    </div>
</template>
<script>
export default {
  props: ['customer']
}
</script>